###
# Expo Credentials for use with the expo CLI
# Only one set should be active at once
# Toggle active credentials through commenting
###

# RubiconMD credentials
#export EXPO_USERNAME=
#export EXPO_PASSWORD=
# Some App Name keystore
#export EXPO_ANDROID_KEY_PASSWORD=
#export EXPO_ANDROID_KEYSTORE_PASSWORD=

# Personal Expo credentials
export EXPO_USERNAME=
export EXPO_PASSWORD=
# Some App Name keystore
export EXPO_ANDROID_KEY_PASSWORD=
export EXPO_ANDROID_KEYSTORE_PASSWORD=
