[user]
  name = 8888
  email = leecostello1@gmail.com
[core]
  editor = vi
  excludesfile = ~/.gitignore_global
[sequence]
  editor = code --wait
[includeIf "gitdir:~/Documents/code/rmd/"]
  path = ~/.dotfiles/.gitconfig_rmd
[pull]
  rebase = true
[init]
  defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
